.card {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-top: 0;
  color: var(--primary-text);
}

.card p {
  color: var(--primary-text);
  font-size: 0.9rem;
}

.link {
  display: inline-block;
  background-color: var(--accent-1);
  color: var(--primary-bg);
  padding: 10px 18px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  transition: background-color 0.2s;
}

.link:hover {
  background-color: var(--accent-2);
}

.completed {
  background-color: var(--border-color);
  color: var(--primary-text);
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 0.8rem;
}